* {
  font-family: "Trebuchet MS", sans-serif;
}
header {
  background-color: #ffdfb0;
  display: flex;
  gap: 64px;
  height: 70px;
  align-items: center;
}
.menu ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  background-color: white;
  border: 1px solid #bdbbb9;
  border-radius: 10px;
  z-index: 10;
  width: 200px;
}

.menu ul li:hover ul, .menu ul li ul:hover {
  display: block;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

.menu ul li {
  display: inline-block;
  position: relative;
  margin: 5px;
}

a {
  text-decoration: none;
  color: #b98b6a;
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
}

h1 {
  text-align: center;
}

#servicos {
  display: flex;
  justify-content: space-around;
  padding: 40px 0px;
}

.linha-servicos {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #b98b6a;
  font-weight: bold;
}

#banho {
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  background-color: #ffdfb0;
  border-radius: 20px;
  width: 500px;
  height: 200px;
}

#veterinario {
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  width: 500px;
  height: 200px;
  background-color: #ffdfb0;
  border-radius: 20px;
}

#adestramento {
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  width: 500px;
  height: 200px;
  background-color: #ffdfb0;
  border-radius: 20px;
}

#saude {
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  width: 500px;
  height: 200px;
  background-color: #ffdfb0;
  border-radius: 20px;
}

footer {
  background-image: url(/image/backgorund.png);
  display: flex;
  gap: 64px;
  height: 300px;
  align-items: start;
  padding: 40px 0px;
  justify-content: center;
  margin: 0;
}
#logofooter {
  width: 150px;
  height: 150px;
  align-items: center;
}
h3 {
  justify-content: center;
  color: #b98b6a;
  font-size: 30px;
  display: flex;
  gap: 20px;
}

#contatos{
    font-size: 20px;
}

#redes{
  width: 300px;
  height: 80px;
}

#pagamentos {
  width: 500px;
  height: 50px;
}
